<style>

h1 {
  color: #E86CE7;
}

h2 {
  color: #FF7CA4;
}

a:hover {
  color: hotpink;
}

h3 {
  color: #FEA4BF;
}

body {
  background-color: pink;
}

p {
  color: white;
  font-family: arial;
  border: 5px double #FEA4BF
}

</style>
