
h1 {
  color: orchid;
}

body {
  background-color: black;
}

ol {
  color: frenchpink;
  list-style-type; upper-roman;
}

p {
  color: carnationpink;
  border: 3px solid frenchpink
  font-family: arial;
}
